DOMAIN=tg-mini-app-test.digital-assistant.tech
VITE_API_URL=https://tg-mini-app-test.digital-assistant.tech/api

TELEGRAM_LOGIN_MODE=user
TELEGRAM_SESSION_STRING=changeme-session-string
TELEGRAM_BOT_TOKEN=changeme-bot-token
TELEGRAM_POLLING_ENABLED=false
TELEGRAM_API_ID=39127444
TELEGRAM_API_HASH=24a33142a58fcfd540089af5fb3000b4
VITE_TG_INIT_DATA=

REDIS_URL=redis://redis:6379/0
POSTGRES_DSN=postgresql+asyncpg://postgres:postgres@tg-miniapp-db:5432/tg_events
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=tg_events

BOT_POLLING_INTERVAL=2
APP_HOST=0.0.0.0
APP_PORT=8000



