TELEGRAM_BOT_TOKEN=changeme
TELEGRAM_CHANNEL_IDS=@gzsmsk
TELEGRAM_API_ID=39127444
TELEGRAM_API_HASH=24a33142a58fcfd540089af5fb3000b4
REDIS_URL=redis://redis:6379/0
POSTGRES_DSN=postgresql://user:pass@db:5432/tg_events
BOT_POLLING_INTERVAL=2
APP_HOST=0.0.0.0
APP_PORT=8000

